.cards{
    display: flex;
    width: 360px;
    border: 1px solid gray;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    background-color: rgba(63, 160, 141,0.5);
    gap: 10px;

}

.question{
    text-align: center;
}

.bookmark{
    position: relative;
    width: 18px;
    height: 22px;
    top: -10px;
    right: 10px;
    align-self: flex-end;
    background-color: rgba(0,0,0,0);
    
}

.bookmark__button{
    width: 18px;
    height: 22px;
    border: none;
    background-color: rgba(0,0,0,0);
    background-image: url(../img/bookmark_wh.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.bookmark__checked{
    background-image: url(../img/bookmark_wh-bk.png);
}

.cat_tags{
    color: black;
    display: flex;
    gap:5px;
    align-self: flex-start;
    justify-content: flex-start;
    margin-left: 5px;
}

.tags{
    border: 1px solid black;
    padding: 3px;
    background-color: rgb(63, 160, 141);
    border-radius: 4px;
}

.answer__button{
        margin-bottom: 5px;
}

.answer__text{
    margin-bottom: 15px;
    font-weight:bolder;
    /* border-bottom: 2px double; */
}