.form{
    display: flex;
    flex-direction: column;
    gap:5px;
    justify-content: center;
    width: 360px;
    border: 1px solid gray;
    border-radius: 8px;
    align-items: center;
    position: relative;
    background-color: var(--green__card);
    padding: 8px 0;
}

.form__input{
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 5px;
}

.info{
    font-size:9px;
}